body, div, ul {margin: 0; padding: 0;}
/* 맨 위의 푸른 헤더 */
#header_wrap {width: 100%; height: 40px; background: #6a84b8;}
#global_wrap {width: 1000px; height: 40px; margin: 0 auto;}
#util {float: right; width: 500px; list-style: none; display: inline-block; vertical-align: middle; padding: 9px 0;}
#util li {float: left; padding: 0 10px; color: white; font-size: 12px; border-left: 1px solid #c4deff;}
#util li:nth-child(1) {border: none;}
.city {color: yellow;}
.site01 {color: greenyellow;}
/* 로고메뉴 */
#logo_menu_wrap {width: 100%; height: 80px; background: #223c6f;}
#logo_menu {width: 1000px; height: 80px; margin: 0 auto; display: flex;}
#logo {width: 200px; height: 60px; font-size: 18px; color: white; font-weight: 800; padding-top: 20px; display: flex;}
#logo img {max-width: 40px; max-height: 40px;}
#logo p {margin-top: 8px; margin-left: 6px;}
/* 헤더의 서브메뉴 */
#menu {width: 800px;}
#menu_list {width: 800px; height: 80px; margin: 0; padding: 0; list-style: none; color: white; font-size: 16px; font-weight: 800;}
#menu_list li {width: 130px; height: 80px; line-height: 80px; float: left; text-align: center; position: relative;}
#menu_list li ul {width: 0; height: 0; margin: 0; padding: 0; list-style: none; position: relative; opacity: 0;}
#menu_list li ul li {width: 0; height: 0; line-height: 0; position: absolute; top: -10px;}
#menu_list li:hover ul {width: 130px; position: relative; opacity: 1; background: #223c6f; top: 0px; z-index: 100; font-size: 13.5px;}
#menu_list li:hover ul li {width: 130px; height: 30px; line-height: 30px; position: relative; text-align: center; background: #223ccf;}
/* 메인 이미지 */
#main_img {width: 100%; height: 350px; background: #abdde0;}
.m_img {width: 1000px; height: 350px; margin: 0 auto;}
.m_img img {max-width: 1000px; height: 350px;}
/* 메인이미지 밑의 콘텐츠 영역 */
/* 동물공고 */
#post_wrap {width: 1000px; height: 800px; margin: 0 auto;}
#contents {position: relative; width: 100%; height: 310px;}
#contents h2 {font-weight: 600; margin-bottom: 10px;}
.f_small {font-size: 12px;}
.r_small {font-size: 12px; float: right;}
.animal_list {list-style: none; margin: 0; padding: 0; width: 100%; display: inline-block;}
.img_li {width: 230px; padding: 0 10px; float: left; display: block;}
.img_li img {max-width: 230px;}
.img_li ul {list-style: none; width: 204px;}
.img_li ul li {padding-left: 7px;}
.img_li ul li span {font-weight: 700; }
#mid {margin: 0 auto; margin-top:  30px; width: 1000px; height: 175px;}
.m_left {width: 66%; float: left; margin-right: 4%;}
.m_top {padding-top: 10px;}
.notice {float: left; width: 46%;}
.m_top .notice:first-child {margin-right: 8%;}
.notice ul {padding-left: 20px;}
.notice ul li {height: 25px; font-size: 13.5px;}
.m_right {width: 30%; float: left;}
.conbanner {border: 1PX solid #dadee1; box-sizing: border-box; padding: 10px 15px; height: 88px;}
.conbanner h2 {margin: 0; margin-bottom: 5px; font-size: 15px;}
.conbanner p {font-size: 88%; line-height: 18px;}
/* 하단부 운영시간, 입양 프로세스 */
#bottom {height: 152px; border: 1px solid#e7e7e7; margin-bottom: 0; margin-top: 40px;}
.time {width: 322px; height: 112px; float: left; padding: 20px 0 20px 20px; background: #efefed url(../img/bg_tel.jpg) no-repeat right 0;}
.time h2 {font-size: 15px; margin-top: 0;}
.time dl {font-size: 12px; line-height: 18px;}
.time dl dt {float: left; font-weight: 600; padding-right: 8px;}
.proce img {width: 656px; height: 152px;}
/* foot */
#footwrap {background: #3d3d3d; width: 100%; margin-top: 30px; position: relative;}
#foot {width: 1000px; margin: 0 auto; padding: 24px; position: relative;}
#foot ul {margin: 0; margin-bottom: 5px; list-style: none; padding: 0; list-style: none; overflow: hidden;}
#foot ul li {float: left; padding-right: 13px; margin-right: 13px; font-size: 14px; border-right: 1px solid #6d6d6d; color: #f1f1f1;}
#foot ul li:last-child {border-right: none;}
#foot address {margin: 3px 20px 2px 0px; color: #f1f1f1; line-height: 20px; font-size: 13px; display: inline-block; font-style: normal;}
.foot_logo {position: absolute; top: 20px; right: 30px;}






