#gallery {border: 10px solid #111111; height: 300px; width: 450px; margin-left: auto; margin-right: auto; overflow: visible; background: #272228; box-shadow: #272228 2px 2px 2px;}
.small {width: 120px; height: 88px;}
#gallery ul {list-style: none; margin-left: 30px; padding: 0;}
#gallery ul li {display: inline-table; padding: 5px;}
.pic {opacity: 0; visibility: hidden; position: absolute; margin-top: 10px; margin-left: -20px; border: 1px solid black; box-shadow: #272228 2px 2px 2px;}