* {margin: 0; padding: 0; box-sizing: border-box;}
body {background-color: #8ad8ba;}
body, div, ul {margin: 0; padding: 0;}
#flex1 {display: flex; flex-direction: row; width: 90%; height: 199px; margin: 0 auto; border: 5px solid #ffffff;}
#flex1 div {width: 33.33%;}
#flex1 div:nth-child(1) {background: #d88a8a;}
#flex1 div:nth-child(2) {background: #8ad894;}
#flex1 div:nth-child(3) {background: #9a8ad8;}

#flex2 {display: flex; flex-direction: column; width: 90%; height: 199px; margin: 0 auto; border: 5px solid #ffffff;}
#flex2 div {width: 33.33%; height: 50px;}
#flex2 div:nth-child(1) {background: #d88a8a;}
#flex2 div:nth-child(2) {background: #8ad894;}
#flex2 div:nth-child(3) {background: #9a8ad8;}

#flex3 {display: flex; flex-direction: row; flex-wrap: wrap; width: 90%; height: 199px; margin: 0 auto; border: 5px solid #ffffff;}
#flex3 div {width: 40%; height: 50px;}
#flex3 div:nth-child(1) {background: #d88a8a;}
#flex3 div:nth-child(2) {background: #8ad894;}
#flex3 div:nth-child(3) {background: #9a8ad8;}

#flex4 {display: flex; flex-flow: row wrap-reverse; width: 90%; height: 199px; margin: 0 auto; border: 5px solid #ffffff;}
#flex4 div {width: 100%; height: 50px;}
#flex4 div:nth-child(1) {background: #d88a8a;}
#flex4 div:nth-child(2) {background: #8ad894;}
#flex4 div:nth-child(3) {background: #9a8ad8;}