<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <input id="userId" type="text" placeholder="아이디를 입력해주세요.">
    <input id="userPw" type="text" placeholder="비밀번호를 입력해주세요.">
    <button onclick="doLogin()">로그인</button>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
<script type="text/javascript">
    function doLogin(){

        var id = $("#userId").val();
        var pw = $("#userPw").val();
            
            var jsonData = {
                    "userId" : id,
                    "userPassword" : pw
                }
                    
                
                // AJAX 호출
                $.ajax({
                    url: '/api/v1/login',
                    type:'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(jsonData),
                    dataType: 'json',
                    success: function(response){
                        
                        console.log("^^... " + response);
                        
                        if(response.user){
                            alert(response.name + "님, 환영합니다.");
                            location.href = '/mpage';
                        }
                        else{
                            alert("아이디 혹은 비밀번호가 틀렸습니다.");
                        }
                        
                    }
                });

    }
</script>
</html>